body{
   font-family: 'raleway',sans-serif;
   color: black;
   font-weight: 400; 
   height: auto;
   font-size: 1em;
   background-color: white;
   max-width: 1440px;
   min-width: 320px;
}


header {
    position: relative;
    width: 100%;
    height: 90px;
    padding-top: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
}


#logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
}

#logo img{
    height: 42px;
    margin-left: 3.8%;
    cursor: pointer;
}


.inscription {
    padding: 45px 20px 0px 20px;
    height: 110px;
    text-align: right;
    cursor: pointer;
    color: #0065FC;
    font-weight: 800;
    width: 120px;
    margin-right: 3.8%;
}


nav {
    position: absolute;
    right: 165px;
    display: flex;
    text-decoration: none;
    margin-top: 40px;
}

nav a:hover
{
    color: #0065FC;
    border-top: 3px solid #0065FC;
}
a {
    text-decoration: none;
    color: black;
}

a:hover{
    border: solid;
    border: 20px;
}
.navigation {
    padding: 45px 20px 0px 20px;
    border-top: 2px solid transparent;
    height: 110px;
    margin-right: 55px;
    text-align: center;
}

#recherche {
    position: relative;
    width: auto;
    height: 290px;
    margin: 0px 3.8%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

div.btn {
  cursor: pointer;
  padding: 1.5rem 2.5rem;
  margin-bottom: 1.5rem;
 
  color: #FFF;
  font-size: 2rem;
}




h1 {
    margin-bottom: 5px;
    font-size: 1.3em;
}


h1{
    display: block;
    margin-inline-end:0px;
    margin-inline-start: 0px;
    font-size: 2em;
 }

#partie-recherche {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #F2F2F2;
    width: 400px;
    height: 45px;
    border-radius: 15px;
    margin-top: 25px;
    background-color: white;
}


.icon-map {
    position: absolute;
    left: 0;
    height: 45px;
    width: 45px;
    border-radius: 15px 0px 0px 15px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;

}

form {
    display: block;
    margin-top: 0em;
}
input {
    display: block;
    margin: 15px 120px 15px 45px;
    height: 45px;
    width: 235px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    padding-left: 10px;    
}



.button-bleu {
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 120px;
    background-color: #0065FC;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid transparent;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.loupe {
    display: none;
}

#groupe-filtres {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-top: 40px;
}
h3 {
    font-size: 1.1em;
}
.boutons-filtre {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-top: 20px;
}

.filtre {
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 50px;
    border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
}

.iconfiltre {
    height: 50px;
    width: 50px;
    color: #0065FC;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.iconfiltre:hover{
 background: #15DEA5;
}
.fa, .fas {
    font-weight: 900;
}
<style>
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
<style>
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

i {
    font-style: italic;
}
.filtre {
    display: flex;
    align-items: center;
    margin-left: 25px;
    height: 50px;
    border-top: 2.5px solid #F2F2F2;
    border-right: 2.5px solid #F2F2F2;
    border-bottom: 2.5px solid #F2F2F2;
    border-radius: 25px;
    cursor: pointer;
    background-color: white;
}

.filtre:hover{
    background-color: #DE52F4; 
    color: white;
}

#info {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;
    margin-top: 40px;
}

.iconne-i {
    font-size: 0.75em;
    height: 20px;
    width: 20px;
    color: #0065FC;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}
#info {
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 10px;
    margin-top: 30px;
}

.iconi {
    font-size: 0.75em;
    height: 20px;
    width: 20px;
    color: #0065FC;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #F2F2F2;
    border-radius: 50%;
}

#info .soustitre {
    margin-top: 0;
    margin-left: 10px;
    display: block;
}
.soustitre {
    font-size: 0.9em;
    font-weight: 600;
}

#bloc-page{
 width: 100%;
 margin: auto;
 margin-top: 80px;
}


.fond-gris{
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 725px;
    padding: 20px;
    margin: 10px;
} 

#hébergements{
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top:40px;
}

#hébergements article{
    height: 625x;
    width: 74%;
} 


h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-inline-end: 0.83em;
    font-weight: bold;
}

#bloc-hébergements{
    width: 100%;
    height: 525px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
}

  .fond-gris h3{
    display:block;
    height: 20px;
    margin-top: 20px;
    padding-bottom: 25px;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    width: 200px;
    padding-top: 40px;
   }

   .hebergement-ligne1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    }

  .groupe-hébergement{
    height: 220px;
    width: 33%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
    margin: 8px;
   }


.groupe-hébergement .hotel{
     display: block;
     object-fit: cover;
     border-radius: 10px 10px 0 0;
     height: 80px;
}
    
.hebergements-ligne2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

h4{
     font-size: 1em;
     margin-bottom: 5px;
}

h4{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	font-weight: bold;
}

.zone-blanche{
    background-color: white;
    overflow: hidden;
    height: 200px;
    border-radius: 0 0 10px 10px;
    padding-left: 15px;
    padding-top: 0px;
    margin-top: 0;
    padding: 0 7%;
}
.zone-blanche1{
    margin-bottom: 10px;
    font-size: 0.9em;
    font-weight: bold;

}

.zone-blanche p{
	font-size: 0.9em;
	margin-bottom: 10px;
}.starblue {
    color: #0065FC;
}
.fa-star {
    font-size: 1.1em;
    letter-spacing: -2px;
}

<style>
.fa, .fas {
    font-weight: 900;
}
<style>
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
<style>
.fa, .fab, .fad, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;

    line-height: 1;
}
p{
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}




/*aside*/
#populaires aside {
    height: 625px;
    width: 30.6%;
}

.titre-aside {
    display: flex;
    justify-content: space-between;
}

.bloc-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 625px;
    width: 100%;
    margin: 0px;
}

.groupe-populaire {
    position: relative;
    width: 100%;
    height: 180px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 5px;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
    cursor: pointer;
}

.groupe-populaire .pop {
    display: block;
    object-fit: cover;
    object-position: center;
    width: 36%;
    border-radius: 10px 0 0 10px;
}

.zone-blanche2 {
    padding:0 7%;
    width: 62%;
    overflow: hidden;
    margin: 30px auto 0px auto;
    display: block;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.étoilesaside {
    
    margin-top: 10px;
}



/*Activités*/
#activités {
    position: relative;
    bottom: 0px;
    height: 600px;
    max-width: 1440px;
    padding: 50px 3.8%;
    margin-bottom: 15px;
    background-color: white;
}

h2 {
    font-size: 1.3em;
    margin-bottom: 30px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.bloc-activités {
    width: 100%;
    height: 446px;
    display: flex;
    justify-content: space-between;
}

.activité-ligne1, .activité-ligne2 {
    display: flex;
    justify-content: space-between;
    width: 48.27%;
}

.colonne, .carrétype1, .carrétype2 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

div{
    display: block;
}

.carte-longue img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 391px;
}

.titreactivités {
    display: flex;
    align-items: center;
    height: 55px;
    border-radius: 0 0 20px 20px;
    padding-left: 20px;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.carré {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.colonne, .carré {
    width: 46.5%;
}

.carrétype1 {
    height: 235px;
    cursor: pointer;
}
.colonne, .carrétype1, .carrétype2 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

.colonne {
    height: 446px;
    cursor: pointer;
}
.carrétype1 img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 180px;
}

.carrétype2 {
    height: 165px;
    cursor: pointer;
}
.colonne, .carrétype1, .carrétype2 {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 30%);
}

#activités img {
    border-radius: 20px 20px 0 0;
}

.carrétype2 img {
    width: 100%;
    display: block;
    object-fit: cover;
    height: 110px;
}








/*footer*/

footer{
    background-color: #F2F2F2F2;
    width: 100%;
    height: 210px;
    margin: auto;
}

 section .footer{
    padding-top: 40px;
    padding-right: 20px;
    min-width: 255px;
    width: 32%;
    height: 170px;
}
footer{
   display: flex;
   justify-content: space-around;
   margin-right:10%;
   width: 100%;
}












/*media querries*/
@media screen and (max-width: 1180px){
   #bloc-page {
    height: 2630px;
}

#hébergements {
    height: 1250px;
    flex-direction: column-reverse;
    margin: 0;
}
#hébergements article {
    height: 625px;
    width: 100%;
}
.bloc-hébergements {
    width: 100%;
}

..hebergement-ligne1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#hébergements article {
    height: 625px;
    width: 100%;
}



#populaires aside {
    width: 100%;
}

.bloc-populaires .pop {
    width: 45%;
}

#activités {
    height: 1092px;
    width: 100%;
}
.bloc-activités {
    height: 938px;
    flex-direction: column;
}
.activité-ligne1, .activité-ligne2 {
    align-content: space-between;
    width: 100%;
}
.colonne, .carré {
    width: 47.5%;
}
.carte-longue {
    height: 170px;
}
.carte-longue img {
    height: 120px;
}
.carré {
    align-content: space-between;
    height: 362px;
}
.carrétype2 {
    height: 200px;
}
.carrétype1 img {
    height: 145px;
}

}


@media screen and (max-width: 990px){
    #bloc-page {
    height: 2692px;
}
    #recherche {
    height: 350px;
}
#groupe-filtres {
    height: 120px;
    align-items: flex-start;
}

#groupe-filtres h3 {
    margin-top: 15px;
}

.boutons-filtre {
    height: 120px;
}
}

@media screen and (max-width: 768px) {
    header {
    height: 120px;
    padding-top: 20px;
    margin: 0 auto;
}


#logo {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}  

.inscription {
    padding: 15px 0px 0px 0px;
    height: 70px;
    width: 120px;
    margin-top: 0;
    margin-right: 3.8%;
}

#logo img {
    margin-top: 5px;
}

nav {
    width: 100%;
    right: 0;
    position: absolute;
    bottom: 0px;
    display: flex;
}

.navigation {
    padding: 12px 0px 0px 0px;
    border-top: 0px solid;
    border-bottom: 2px solid transparent;
    margin: 0;
    width: 100%;
    height: 45px;
    text-align: center;
}
 
 #info {
    position: relative;
    margin-top: 40px;
}

 #bloc-page {
    height: 3480px;
}

 #hébergements {
    position: relative;
    height: 1790px;
    flex-direction: column-reverse;
     top: 300px;
}


    
 #hébergements article{
    padding: 35px 3.8% 0px 3.8%;
    height: 1268px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: white;
}

h2 {
    margin-bottom: 20px;
}

.bloc-hébergements {
    height: 1130px;
    display: flex;
    flex-direction: column;
}

#hébergements {
    top: 580px;
}
  
  .fond-gris h3 {
    margin-top: 800px;
    width: 100%;
}
.hebergement-ligne1 {
    flex-direction: column;
    width: 100%;
    height: 560px;
}
.groupe-hébergement {
    width: 100%;
    height: 200px;
}

.groupe-hébergement .hotel {
    height: 80px;
}

.zone-blanche1 {
    height: 100px;
    font-size: 0.85em;
}

.hebergements-ligne2 {
    margin-top: 90px;
    padding: 5px;
}

.hebergements-ligne2 {
    flex-direction: column;
    width: 100%;
    height: 560px;
}


#hébergements aside {
    width: 100%;
}

#activités {
    height: 1250px;
    margin-bottom: 0px;
    padding-top: 20px;
    margin-top: 200px;
}


h2 {
    margin-bottom: 20px;
}
.bloc-activités {
    height: 1130px;
    flex-direction: column;
}

.activité-ligne1, .activité-ligne2 {
    flex-direction: column;
    height: 554px;
}

.colonne {
    height: 170px;
}

.carte-longue {
    height: 170px;
}
.carte-longue img {
    height: 120px;
}
.carré {
    align-content: space-between;
    height: 362px;
}

.colonne, .carré {
    width: 100%;
}.carrétype1 {
    height: 170px;
}

.carrétype1 {
    height: 170px;
}

.carrétype1 img {
    height: 120px;
}

.carrétype2 {
    height: 170px;
}

.carrétype2 img {
    height: 120px;
}
footer{
    background-color: #F2F2F2F2;
    width: 99%;
    height: 530px;
    margin: auto;
    flex-direction: column;
}

 section .footer{
    padding-right: 20px;
    width: 100%;
    height: 500px;
    margin-left: 30px;
}
.footer{
  margin-left: 30px;
   width: 100%;
}

}


@media screen and (max-width: 568px) {
    header {
    height: 120px;
    padding-top: 20px;
    margin: 0 auto;
}


#logo {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
} 

#bloc-page{
    height: 3630px;
    justify-content: space-between;
} 

#recherche {
    height: 500px;
} 

#titre {
    height: 110px;
    padding: 30px 0px 0px 0px;
}

  #partie-recherche {
    width: 92.4%;
    min-width: 296px;
    margin: 30px auto 0px auto;
    padding-left: 45px;
}
input {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 45px;
    width: 68%;
}
.button-bleu {
    height: 45px;
    width: 90px;
    border-radius: 15px;
}


#groupe-filtres {
    height: 160px;
    flex-direction: column;
}
.boutons-filtre{
    flex-direction: column;
    
    
}
#groupe-filtres h3 {
    margin-bottom: 15px;
}
.filtre {
    height: 45px;
    margin: 0px 12px 0px 0px;
    justify-content: space-around;
}
.iconfiltre {
    height: 45px;
    width: 45px;
}
.textefiltre {
    margin: 0px 10px;
}

#hébergements {
    top: 580px;
}

}

@media screen and (max-width: 453px){
    #groupe-filtres {
    height: 210px;
}
.boutons-filtre {
    height: 160px;
}
.textefiltre {
    margin: 0px 5px;
}
#info {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    height: 30px;
    width: 100%;
    margin-bottom: 25px;
}
}

@media screen and (max-width: 335px){
    #groupe-filtres h3 {
    margin: 5px 0px;
}
.boutons-filtre {
    height: 210px;
}
#info {
    margin-bottom: 0px;
}

}
